{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'o_nama.css' %}">
{% endblock css_files %}

{% block content %}


<div class="about-us">
    <p>Mi smo kompanija koja se bavi prodajom motora, sa sedištem u gradu Livnu. Osnovani smo prije 3 godina i posvećujemo sve pružanju našim klijentima.</p>
    <p>Naš tim čine stručnjaci u svom poslu sa dugogodišnjim iskustvom i znanjem. Mi se trudimo da svakom klijentu pružimo pomoc i osiguramo da su njihove potrebe i želje ispunjene.</p>
  </div>
  


{% endblock content %}